@use "config" as *;

.app-card {
  display: flex;

  .nhsuk-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: nhsuk-spacing(4);
  }

  .nhsuk-card__heading {
    @include nhsuk-typography-weight-normal;
  }

  .nhsuk-card__description {
    margin-top: auto;
    @include nhsuk-font-size(36);
    @include nhsuk-typography-weight-bold;
  }

  .nhsuk-card__caption {
    @include nhsuk-typography-weight-normal;
    color: $nhsuk-secondary-text-color;
    display: block;
    font-size: 16px;
    margin-top: 0.5em;
  }

  &--green {
    background-color: nhsuk-tint(nhsuk-colour("green"), 80%);
    border-color: nhsuk-tint(nhsuk-colour("green"), 40%);
    color: nhsuk-shade(nhsuk-colour("green"), 40%);

    .nhsuk-card__caption {
      color: nhsuk-shade(nhsuk-colour("green"), 10%);
    }
  }

  &--blue {
    background-color: nhsuk-tint(nhsuk-colour("blue"), 80%);
    border-color: nhsuk-tint(nhsuk-colour("blue"), 30%);
    color: nhsuk-shade(nhsuk-colour("blue"), 30%);

    .nhsuk-card__caption {
      color: nhsuk-shade(nhsuk-colour("blue"), 10%);
    }
  }

  &--red {
    background-color: nhsuk-tint(nhsuk-colour("red"), 80%);
    border-color: nhsuk-tint(nhsuk-colour("red"), 50%);
    color: nhsuk-shade(nhsuk-colour("red"), 50%);

    .nhsuk-card__caption {
      color: nhsuk-shade(nhsuk-colour("red"), 30%);
    }
  }

  &-group {
    margin-left: -(nhsuk-spacing(2));
    margin-right: -(nhsuk-spacing(2));

    &__item {
      padding-left: nhsuk-spacing(2);
      padding-right: nhsuk-spacing(2);
    }
  }
}
