@use "sass:color";
@use "config" as *;

.filter {
  &-container {
    background-color: color.scale($color_nhsuk-grey-4, $alpha: -50%);
    margin-bottom: nhsuk-spacing(6);
    padding: nhsuk-spacing(2) nhsuk-spacing(4);

    &__legend {
      background-color: $color_nhsuk-grey-1;
      color: $color_nhsuk-white;
      margin-left: -(nhsuk-spacing(4));
      margin-bottom: nhsuk-spacing(3);
      margin-top: 0;
      padding: nhsuk-spacing(2) nhsuk-spacing(4);
      @include nhsuk-font-size(22);
      @include nhsuk-typography-weight-bold;
    }
  }

  &--year-group {
    .nhsuk-checkboxes__item--hidden {
      display: none;
    }
  }
}
