@use "config" as *;

.nhsuk-header__navigation-item {
  padding-right: nhsuk-spacing(2);
}

.app-header__navigation-item--with-count {
  .app-count {
    margin-left: nhsuk-spacing(1);
    min-width: nhsuk-spacing(4);
    padding-bottom: 3px;
    padding-top: 5px;

    @include nhsuk-font(14, $line-height: 1);
  }
}
