.git
.github
.version
*.code-workspace
.DS_Store
.env
mise.local.toml
mise.*.local.toml
.venv/
__pycache__/
.ruff_cache/
node_modules/
.idea/
.vscode/
mavis/reporting/static/css/*
!mavis/reporting/static/css/.keep
mavis/reporting/static/js/*
!mavis/reporting/static/js/.keep
mavis/reporting/static/favicons/*
!mavis/reporting/static/favicons/.keep
.coverage
htmlcov/
coverage.svg
coverage.xml
.pytest_cache/
tmp/
!tmp/.keep
config/credentials/*.key
!config/credentials/development.key
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.swo
*~
Dockerfile
.dockerignore
README.md
docs/
tests/
