
{% from 'header/macro.jinja' import header %}
{% extends 'nhsuk/template.jinja' %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/app.css') }}">
<script type="module" src="{{ static('js/app.js') }}"></script>
{% endblock %}

{% block header %}
{{ header({
  "service": {
    "text": "Manage vaccinations in schools",
    "href": url_for('main.index')
  },
  "navigation": {
    "items": [
      {
        "href": url_for('main.index'),
        "text": "Dashboard",
      },
      {
        "href": url_for('main.download'),
        "text": "Download data",
      },
      {
        "href": "/reporting/api-call/",
        "text": "Test API call"
      }
    ]
  },
  "account": session.user_nav if session.user_nav else None
}) }}
{% endblock %}

{% block content %}

{% block page_content %}
{% endblock %}

{% endblock %}
