{% from "components/heading.jinja" import heading %}
{% from "components/secondary_navigation.jinja" import secondaryNavigation %}
{% from "breadcrumb/macro.jinja" import breadcrumb %}

{% extends 'layouts/base.jinja' %}

{% block beforeContent %}
  {{ breadcrumb({
    "items": breadcrumb_items
  }) }}
{% endblock %}

{% block page_content %}

{{ heading({
  "text": "Reports",
  "level": 1,
  "size": "l",
  "summary": "For " ~ academic_year ~ " so far"
}) }}

{{ secondaryNavigation({
  "items": secondary_navigation_items
}) }}

{% block dashboard_content %}

{% endblock %}

{% endblock %}
