{% from "components/filters.jinja" import filters %}
{% from "components/heading.jinja" import heading %}
{% from "card/macro.jinja" import card %}
{% from "tables/macro.jinja" import table %}
{% from "components/app_dashboard_card.jinja" import app_dashboard_card %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}Consent report | {{ app_title }}{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders,
      "current_filters": current_filters or {},
      "form_action": url_for('main.consent', workgroup=team.workgroup)
    }) }}
  </div>

  <div id="dashboard" class="app-grid-column-content">
    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--blue",
        "heading": "Cohort",
        "description": data.cohort | thousands,
        "caption": "child" if data.cohort == 1 else "children",
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--red",
        "heading": "No consent",
        "description": data["no_consent_percentage"] | percentage,
        "caption": data["no_consent"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--green",
        "heading": "Consent given",
        "description": data["consent_given_percentage"] | percentage,
        "caption": data["consent_given"] | format_child_count,
      }) }}
    </div>

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "No consent response",
        "description": data["consent_no_response_percentage"] | percentage,
        "caption": data["consent_no_response"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "Consent refused",
        "description": data["consent_refused_percentage"] | percentage,
        "caption": data["consent_refused"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "Conflicting consent",
        "description": data["consent_conflicts_percentage"] | percentage,
        "caption": data["consent_conflicts"] | format_child_count,
      }) }}
    </div>

    <p class="nhsuk-body-m nhsuk-u-margin-bottom-6">
      This data was last updated on <strong>{{ last_updated_time }}</strong>.
    </p>

  </div>
</div>

{% endblock %}
