{% from "components/heading.jinja" import heading %}
{% from "radios/macro.jinja" import radios %}
{% from "button/macro.jinja" import button %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}{{ organisation.name }} | {{ site_title }}{% endblock %}

{% block dashboard_content %}

<form action="{{ url_for('main.download', code=organisation.code) }}" method="post">

<div class="nhsuk-grid-row">
  <div class="nhsuk-u-margin-bottom-3 nhsuk-grid-column-two-thirds">
    {{ radios({
      "idPrefix": "download-type",
      "name": "download-type",
      "fieldset": {
        "legend": {
          "text": "What kind of data do you want to download?",
          "classes": "nhsuk-fieldset__legend--s"
        }
      },
      "items": [
        {
          "text": "Child-level vaccination record data",
          "value": "child-records",
        },
        {
          "text": "Aggregate vaccination and consent data",
          "value": "aggregate-data",
        },
      ],
    }) }}
  </div>
</div>

{{ button({
  "text": "Continue",
  "type": "submit",
}) }}

</form>

{% endblock %}
