{% from "components/filters.jinja" import filters %}
{% from "components/heading.jinja" import heading %}
{% from "card/macro.jinja" import card %}
{% from "tables/macro.jinja" import table %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}Vaccination report | {{ app_title }}{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders,
      "current_filters": current_filters or {},
      "form_action": url_for('main.vaccinations', workgroup=team.workgroup)
    }) }}
  </div>

  <div id="dashboard" class="app-grid-column-content">
    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {% set child_or_children = "child" if data.cohort == 1 else "children" %}
        {{ card({
          "classes": "app-card app-card--blue",
          "heading": "Cohort",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data.cohort | thousands ~ "<span class='nhsuk-card__caption'>" ~ child_or_children ~ " </span></p>",
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card app-card--red",
          "heading": "Not vaccinated",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data["not_vaccinated_percentage"] | percentage ~ "<span class='nhsuk-card__caption'>" ~ data["not_vaccinated"] | format_child_count ~ "</span></p>",
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card app-card--green",
          "heading": "Vaccinated",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data["vaccinated_percentage"] | percentage ~ "<span class='nhsuk-card__caption'>" ~ data["vaccinated"] | format_child_count ~ "</span></p>",
        }) }}
      </div>
    </div>

    {{ heading({
      "text": "Vaccinated in the current school year",
      "level": 2,
      "size": "s"
    }) }}

    <div class="nhsuk-grid-row app-card-group nhsuk-card-group">
      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated by " ~ team.name,
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data["vaccinated_by_sais_percentage"] | percentage ~ "<span class='nhsuk-card__caption'>" ~ data["vaccinated_by_sais"] | format_child_count ~ "</span></p>",
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated elsewhere (self-reported)",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data["vaccinated_elsewhere_declared_percentage"] | percentage ~ "<span class='nhsuk-card__caption'>" ~ data["vaccinated_elsewhere_declared"] | format_child_count ~ "</span></p>",
        }) }}
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-card-group__item app-card-group__item">
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated elsewhere (confirmed)",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ data["vaccinated_elsewhere_recorded_percentage"] | percentage ~ "<span class='nhsuk-card__caption'>" ~ data["vaccinated_elsewhere_recorded"] | format_child_count ~ "</span></p>",
        }) }}
      </div>
    </div>

    {{ heading({
      "text": "Vaccinated before this school year",
      "level": 2,
      "size": "s"
    }) }}

    <div class="nhsuk-grid-row app-card-group nhsuk-card-group">
      <div class="nhsuk-grid-column-full nhsuk-card-group__item app-card-group__item">
        {% set isFlu = current_filters.programme == "flu" %}
        {% set percentage = "N/A" if isFlu else data["vaccinated_previously_percentage"] | percentage %}
        {% set child_count = "N/A" if isFlu else data["vaccinated_previously"] | format_child_count %}
        {{ card({
          "classes": "app-card",
          "heading": "Vaccinated in all settings",
          "headingClasses": "nhsuk-heading-xs",
          "headingLevel": 3,
          "descriptionHtml": "<p class='nhsuk-card__description'>" ~ percentage ~ "<span class='nhsuk-card__caption'>" ~ child_count ~ "</span></p>",
        }) }}
      </div>
    </div>

    {% set rows = [] %}
    {% for row in data.monthly_vaccinations_given %}
      {% set _ = rows.append([
        { "text": row.month ~ " " ~ row.year },
        { "text": row.count | thousands, "format": "numeric" }
      ]) %}
    {% endfor %}
    {% set _ = rows.append([
      { "text": "Total" },
      { "text": data.vaccinations_given | thousands, "format": "numeric" }
    ]) %}

    {{ table({
      "heading": "Monthly vaccinations by " ~ team.name,
      "tableClasses": "nhsuk-table--data nhsuk-table--with-total",
      "panel": true,
      "head": [
        { "text": "Month", "format": "date"},
        { "text": "Number of vaccinations", "format": "numeric" }
      ],
      "rows": rows
    }) }}

    <p class="nhsuk-body-m nhsuk-u-margin-bottom-6">
      This data was last updated on <strong>{{ last_updated_time }}</strong>.
    </p>

  </div>
</div>

{% endblock %}
